<template>
  <div class="w-full max-w-lg">
    <div class="md:flex md:items-center mb-3">
      <div class="md:w-1/3">
        <label class="cht-form-label" for="size">Lab ethereum address:</label>
      </div>
      <div class="md:w-2/3">
        <input class="cht-form-input" id="size" type="text" v-model="ethAddress" placeholder />
      </div>
    </div>
    <div class="md:flex md:items-center mb-3">
      <div class="md:w-1/3">
        <label class="cht-form-label" for="size">BatchId:</label>
      </div>
      <div class="md:w-2/3">
        <input
          class="cht-form-input"
          id="size"
          type="text"
          v-model="cropId"
          placeholder="Batch Id The lab is authorized to test"
        />
      </div>
    </div>
    <div class="flex justify-around">
      <button @click="approveLab" class="border btn-success m-4">Submit</button>
    </div>
    <div class="flex justify-around">
      <div class="font-mono font-semibold">{{status}}</div>
    </div>
  </div>
</template>
<script>
import CHTContract from "../contracts/CHTContract";


const chtContract = new CHTContract();

export default {
  name: "approveLab",
  props: {},
  async mounted() {
    // console.log(chtContract.contractAddress)
    // console.log(chtContract._contractInstance.methods)
    // console.log(window.web3.currentProvider)
    // console.log(window.web3.eth.accounts)
    // window.ethereum.enable();
  },

  data: () => ({
    ethAddress: "",
    cropId: "",
    status: ""
  }),
  methods: {
    async approveLab() {
      
      // const provider = new ethers.providers.Web3Provider(
      //   window.web3.currentProvider
      // );
      // const signer = provider.getSigner();
      // let address = await signer.getAddress();
      this.status = "please confirm the transaction in MM";
      const cropId = await chtContract.approveLaboratory(this.ethAddress, this.cropId);
      this.status = cropId ? `approved #${this.ethAddress} to sample crop# ${this.cropId}` : "error";
    }
  }
};
</script>
<style>
.cht-form-label {
  @apply block text-grey-darker font-bold mb-1 pr-4;
}

.cht-form-input {
  @apply bg-grey-lightest appearance-none border border-grey-light  w-full py-2 px-4 text-grey-dark leading-tight;
}
.cht-form-input:focus {
  @apply outline-none bg-white border-secondary;
}
@screen md {
  .cht-form-label {
    @apply text-right mb-0;
  }
}
</style>