<template>
  <!-- <span > -->
  <svg @click="$emit('click')" class="custom-icon" :style="myStyle">
    <use :xlink:href="iconSrc" />
  </svg>
  <!-- </span> -->
</template>
<script>
export default {
  name: 'ad-icon',
  props: {
    icon: {
      type: String,
      required: true
    },
    strokewidth: {
      type: String,
      required: false
    }
  },
  computed: {
    iconSrc() {
      return `/images/mdi-sprite.svg#${this.icon}`;
    },
    myStyle() {
      let myStyle = '';
      if ( this.strokewidth ) {
        myStyle = `stroke-width:${this.strokewidth};`;
      }
      return myStyle;
    }
  }
};
</script>
<style>


.custom-icon {
  stroke: currentColor;
  stroke-width: 1;
  /* butt,round,square */
  stroke-linecap: square;
  /* ,miter, round bevel,arcs */
  stroke-linejoin: bevel;
  fill: currentColor;
}
</style>