<template>
  <div class="bg-neutral-1 w-full min-h-screen font-sans antialiased">
    <!-- HEADER -->
    <div class="container mx-auto sm:px-4 ">
      <Navbar />
      <!-- <div class="text-3xl font-bold p-4" >{{title}}</div> -->
    </div>

    <!-- CONTENT -->
    <div>
      <!-- <div v-if="loading" class="flex flex-row justify-around w-full p-10">
        <ADSpinner></ADSpinner>
      </div>-->

      <!-- ROUTER VIEW -->
      <div class="flex-grow w-full py-8">
        <router-view />
      </div>

    </div>

    <Footer />
  </div>
</template>

<script>

import Footer from "./Footer";
import Navbar from './Navbar';

export default {
  name: "app",
  components: {
    Navbar,
    Footer
  },
  data: () => ({
    // title: "My Blog"
  }),
  // computed: {
  //   ...mapGetters({
  //     user: USER,
  //     adWeb3: AD_WEB3,
  //     profile: PROFILE
  //   })
  // },
  methods: {
    // ...mapActions({
    //   getUser: GET_CURRENTLY_LOGGEDIN_USER
    // })
  }
  // async mounted() {
  //   this.loading = true;
  //   await this.getUser();
  //   this.loading = false;
  // }
};
</script>

<style>
/* Global styles */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


</style>

