<template>
  <div class="text-sm">

    <footer class="w-full bg-white px-6 border-t">
      <div class="mx-auto max-w-xl pt-4 pb-2">&copy;2020 QMT. All rights reserved.</div>
    </footer>
  </div>
</template>

<script>


const routes = [{
  name: 'home',
  to: '/',
  text: 'Home',
  shared: true
}, {
  name: 'orders',
  to: '/orders',
  text: 'Orders'
}, {
  name: 'faq',
  to: '/',
  text: 'FAQ',
  shared: true
}, {
  name: 'referrals',
  to: '/referrals',
  text: 'Referrals',
  shared: true
}];

export default {
  name: 'Footer',
  // data: () => ({
  //   allowedMarkets: ALLOWED_MARKETS
  // }),
  computed: {
    // ...mapGetters({
    //   user: USER
    // }),
    links() {
      return routes.filter(({ shared }) => shared || this.user);
    }
  }
};
</script>