<template>
  <div id="app">
    <component :is="layout">
      <router-view/>
    </component>
  </div>
</template>

<script>
const default_layout = 'default';
export default {
  computed: {
    layout() {
      return (this.$route.meta.layout || default_layout) + '-layout';
    }
  },
  created() {
    // nothing defined here (when this.$route.path is other than "/" )
    window.ethereum.enable();
    console.log(this.$route, this.$route.meta.layout);
  },
  updated() {
    // something defined here whatever the this.$route.path
    console.log(this.$route, this.$route.meta.layout);
  }
};
</script>
<style >
.btn-blue {
  @apply bg-blue text-white font-bold py-2 px-4 border border-blue-dark;
}
.btn-blue:hover {
  @apply bg-blue-light;
}

.btn-success {
  @apply bg-success text-white font-bold py-2 px-4 border border-green-dark;
}
.btn-success:hover {
  @apply bg-green-light;
}
</style>