<template>
  <div class="container mx-auto h-full p-4 bg-white">
    <div class="flex flex-row flex-wrap  items-center justify-evenly">
      <button @click="()=>{$router.push('/grower')}" class="border p-4 btn-blue m-4">I'm a Medicine Factory</button>
      <button @click="()=>{$router.push('/lab')}" class="border p-4 btn-blue m-4">I'm a Validation Lab</button>
      <button @click="()=>{$router.push('/grower')}" class="border p-4 btn-blue m-4">Record Medicine Movement</button>
      
    </div>
  </div>
</template>
<script>
export default {
  name: "home",
  data: () => ({}),
  computed: {}

};
</script>
<style>

</style>