<template>
  <div class="container mx-auto h-full p-4 bg-white">
    <div class="flex flex-row flex-wrap">
      <div class="w-1/2 border ">
        <div>Medicine Movement</div>
        
      </div>
       <div class="w-1/2 border">ccc</div>
    </div>
  </div>
</template>
<script>
export default {
  name: "home",
  data: () => ({}),
  computed: {
   
  }
};
</script>
